[submodule "vendor/redmule"]
	path = vendor/redmule
	url = https://github.com/ISOLDE-Project/redmule.git
[submodule "vendor/core-v-xif"]
	path = vendor/core-v-xif
	url = https://github.com/ISOLDE-Project/core-v-xif.git
[submodule "vendor/riscv-dbg"]
	path = vendor/riscv-dbg
	url = https://github.com/ISOLDE-Project/riscv-dbg.git
[submodule "ihp13/pdk"]
	path = ihp13/pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
